@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  z-index: 10;
}

.leaflet-draw-toolbar {
  margin-top: 12px !important;
}

.leaflet-draw-draw-polygon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3 6h18M3 12h18M3 18h18'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
}